@page
@using LiftingJournal.Models;
@using LiftingJournal.Extensions;
@model LiftingJournal.Pages.Lifts.CreateModel

@{
    ViewData["Title"] = "Add Lift Entry";
}

<h1>Create</h1>

<h4>Lift</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Lift.DateLifted" class="control-label"></label>
                <input asp-for="Lift.DateLifted" class="form-control" />
                <span asp-validation-for="Lift.DateLifted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lift.LiftType" class="control-label"></label>
                <select id="LiftTypeFilter" style="width: 200px;">
                    <option value="">Any</option>
                    @foreach (var liftType in (LiftType[])Enum.GetValues(typeof(LiftType)))
                    {
                        <option value="@((int)liftType)">@liftType.GetDisplayName()</option>
                    }
                </select>
                <span asp-validation-for="Lift.LiftType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lift.Weight" class="control-label"></label>
                <input asp-for="Lift.Weight" class="form-control" />
                <span asp-validation-for="Lift.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lift.Sets" class="control-label"></label>
                <input asp-for="Lift.Sets" class="form-control" />
                <span asp-validation-for="Lift.Sets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lift.Reps" class="control-label"></label>
                <input asp-for="Lift.Reps" class="form-control" />
                <span asp-validation-for="Lift.Reps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
